/* Google fonts import */
@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);

/* Wildcard selector to override browser default styles */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100%;
}

html {
    height: 100%;
}

body h1,
p {
    text-align: center;
}

h1 {
    font-size: 25px;
}

p {
    font-size: larger;
}

h1 {
    margin-bottom: 10px;
}

/* Button Styles */
#button-area,
#choose-area,
#game-area {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
}

button {
    font-family: 'Nunito Medium', sans-serif;
    text-transform: uppercase;
}

.btn {
    border: 1px solid white;
    padding: 5px 25px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to left, transparent 50%, rgb(241, 206, 50) 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position .3s ease-out, color .3s ease-out;
    text-transform: uppercase;
}

.btn:hover {
    background-position: left bottom;
    color: black;
    font-weight: 600;
    border-color: rgb(241, 206, 50);
}

body {
    margin: 0;
    padding: 30px 5px 5px;
    font-family: 'Nunito Medium', sans-serif;
    font-weight: 500;
    color: #ffffff;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-color: #2b2a28;
}

.main-container {
    align-items: center;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

.hidden {
    display: none !important;
}

/* Score Counter */
.score-counter {
    justify-content: space-between;
    width: 500px;
    max-width: 80%;
    border: 4px solid rgb(241, 206, 50);
    border-radius: 15px;
    padding: 17px 22px 16px 31px;
    margin: 25px 0 10px;
}

.user-score {
    width: 200px;
    border: 3px solid white;
    border-radius: 10px;
    align-items: center;
    height: 115px;
    padding: 14px 0 0;
    float: left;
}

.computer-score {
    width: 200px;
    border: 3px solid white;
    border-radius: 10px;
    align-items: center;
    height: 115px;
    padding: 14px 0 0;
    float: right;
}

.score-title {
    font-size: 20px;
    font-weight: 700;
    color: rgb(241, 206, 50);
    margin: 0 0 2px;
    letter-spacing: 1px;
}

#cScore,
#pScore {
    font-size: 63px;
    line-height: .9;
    font-weight: 700;
}

/* User Choice Area */
.user-choice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 10px 0;
}

.selection {
    text-align: center;
    margin: auto;
    width: 100px;
    margin-bottom: 5px;
}

#rock {
    background: url(../images/rock.png) no-repeat center center;
    background-size: 80px 80px;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

#rock:hover {
    background-size: 100px 100px;
}

#paper {
    background: url(../images/paper.png) no-repeat center center;
    background-size: 80px 80px;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

#paper:hover {
    background-size: 100px 100px;
}

#scissors {
    background: url(../images/scissors.png) no-repeat center center;
    background-size: 80px 80px;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

#scissors:hover {
    background-size: 100px 100px;
}

#lizard {
    background: url(../images/lizard.png) no-repeat center center;
    background-size: 80px 80px;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

#lizard:hover {
    background-size: 100px 100px;
}

#spock {
    background: url(../images/spock.png) no-repeat center center;
    background-size: 80px 80px;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

#spock:hover {
    background-size: 100px 100px;
}

/* Game Area */
#game-area {
    justify-content: space-between;
    width: 500px;
    max-width: 80%;
    border: 4px solid rgb(241, 206, 50);
    border-radius: 15px;
    padding: 5px 5px 20px;
    margin: 25px 0 10px;
}

#game-area p {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: larger;
}

#result-para {
    font-size: 25px;
}

#result-area {
    display: flex;
    justify-content: center;
}

#result-area>p {
    text-align: center;
    height: auto;
    width: 500px;
    border: 3px solid rgb(241, 206, 50);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.game-container {
    margin: 0 30px 0 30px;
}

.game-container>p {
    text-align: center;
}

#player-image {
    border-radius: 100px;
    margin: auto;
    height: 150px;
    width: 150px;
}

#computer-image {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 100px;
    margin: auto;
    height: 150px;
    width: 150px;
}

/* Modal */
#modal {
    width: 500px;
    max-width: 80%;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;

}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

.modal-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body {
    padding: 10px 15px;
}

#modal-body p {
    color: black;
    margin: 15px 25px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* screen size styling for less than 550px break-point */

@media screen and (max-width: 550px) {

    h1 {
        margin: 0px 15px;
    }
    
    body>p {
        width: 80%;
        margin: auto;
    }

    .user-score, .computer-score {
        padding: 0px;
        width: 115px;
        height: 125px;
    }

    .score-title {
        font-size: medium;
        margin: 10px 20px;
        text-align: center;
    }

    .selection {
        width: 70%;
    }

    p.selection {
        font-size: medium;
    }

    #rock {
        background-size: 60px 60px;
        height: 75px;
        width: 75px;
    }

    #paper {
        background-size: 60px 60px;
        height: 75px;
        width: 75px;
    }

    #scissors {
        background-size: 60px 60px;
        height: 75px;
        width: 75px;
    }

    #lizard {
        background-size: 60px 60px;
        height: 75px;
        width: 75px;
    }

    #spock {
        background-size: 60px 60px;
        height: 75px;
        width: 75px;
    }

    #result-area p {
        width: 322px;
        margin: auto;
    }

    #result-para {
        margin: auto;
        font-size: 18px;
    }

    #game-area {
        width: 90%;
    }

    #player-image {
        height: 100px;
        width: 100px;
    }

    #computer-image {
        height: 100px;
        width: 100px;
    }
}